*{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: blueviolet;

}

main{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
}